Package: com.itskaynine.linetv-adblocker
Name: LineTVAdBlocker
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: A tweak that will automatically skip ads in LineTV.
Maintainer: Punnawut Khowkittipaiboon
Author: Punnawut Khowkittipaiboon
Section: Tweaks
